<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--***配置AOP***-->
    <!--切面类-->
    <bean id="userAspect" class="com.offcn.spring.aspect.UserAspect"/>
    <aop:config>
        <!--切面-->
        <aop:aspect id="aopAspect" ref="userAspect">
            <!--切入点-->
            <aop:pointcut id="insertPointCut" expression="execution(* com.offcn.spring.service.UserServiceImpl.insert(..))"/>
            <aop:before pointcut-ref="insertPointCut" method="validate"></aop:before>
            <aop:after-returning pointcut-ref="insertPointCut" method="log"/>
        </aop:aspect>
    </aop:config>


    <!--dao-->
    <bean id="uerDaoImpl" class="com.offcn.spring.dao.UerDaoImpl"></bean>
    <!--service-->
    <bean id="userServiceImpl" class="com.offcn.spring.service.UserServiceImpl">
        <!--把dao注入到service-->
        <property name="userDao" ref="uerDaoImpl"></property>
    </bean>
    <!--controler-->
    <bean id="userController" class="com.offcn.spring.controller.UserController">
        <property name="userService" ref="userServiceImpl"></property>
    </bean>
</beans>
